name: dakar301
description: "DAKAR 301 - Capture and share your videos"
publish_to: 'none'
version: 3.0.1+12

environment:
  sdk: ^3.5.0

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
